<h2 class="w3-theme-text"> {{ $stateParams.sub_menu | uppercase }}
  <small> - Edit</small>
</h2>


<form>
  <!-- <div class="form-group">
    <label for="noticeTitle">Share with public board</label>
    <input type="checkbox" ng-model="vm.data.share">
  </div> -->
  <div class="form-group">
    <label for="noticeTitle">Title</label>
    <input ng-model="vm.data.title" type="text" class="form-control" id="noticeTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="noticeContent">Content</label>
    <!-- <textarea ng-model="vm.data.content" type="text" rows="10" class="form-control" id="noticeContent" placeholder="내용"></textarea> -->

    <summernote ng-model="vm.data.content" height="300">
      <span style="font-weight: bold;"></span>
    </summernote>


  </div>

  <div ng-if="vm.sub_menu.mode != 'page'">
    <div class="form-group">
      <label for="boardImage">Images</label>
      <input id="boardImage" class="form-control" onchange="angular.element(this).scope().imageChanged(this)" type="file" />
    </div>
    <div ng-repeat="image in vm.data.images" style="display: inline-block; width:200px; height: 160px;" class="text-right">
      <div>
        <button class="btn btn-xs btn-default" ng-click="vm.deleteImage($index)">Delete</button>
      </div>
      <img ng-src="{{vm.appContext.apiUrl + image.url}}" alt="" style="width:auto; height:120px; margin-top: 5px;">
    </div>

    <div class="form-group">
      <label for="boardAttach">Files</label>
      <input id="boardAttach" class="form-control" onchange="angular.element(this).scope().fileChanged(this)" type="file" />
    </div>
    <div ng-repeat="file in vm.data.files">
      {{ file.url }} -
      <button class="btn btn-xs btn-default" ng-click="vm.deleteFile($index)">Delete</button>
    </div>

  </div>


</form>


<div class="text-right">
  <button class="btn btn-default" ng-click="vm.goBack()">Back</button>
  <button class="btn btn-default" ng-if="vm.isUploading">Uploading .... </button>
  <button class="btn btn-primary" ng-if="!vm.isUploading" ng-click="vm.save()">Save</button>  
</div>