<div class="row" style="">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-right">
        <button type="button" style="margin-left: 20px;" class="w3-button w3-green" ng-if="vm.appContext.user.role === 'admin'" ui-sref="board.save({'articleType': $stateParams.articleType, 'articleId':null})">
            New
        </button>
    </div>
</div>
<table class="table table-hover w3-margin-top" ng-if="vm.items.length">
    <tr ng-repeat="item in vm.items" ui-sref="board.view({'articleType': item.articleType, 'articleId':item._id})" style="cursor:pointer">
        <td style="white-space:nowrap">{{item.date | date : "y.MM.dd HH:mm"}}</td>
        <td style="width:100%">{{item.title}}</td>
    </tr>
</table>

<paging page="vm.pagination.currentPage" paging-action="load(page)" page-size="vm.pagination.itemsPerPage" total="vm.pagination.totalItems" show-prev-next="true"
    show-first-last="true">
</paging>

<p ng-if="!vm.items.length" class="bg-warning w3-padding">No data.</p>