<div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-right">
        <button type="button" style="margin-left: 20px;" class="w3-button w3-green" ng-if="vm.appContext.user.role === 'admin'" ui-sref="board.save({'articleType': $stateParams.articleType, 'articleId':null})">
            New
        </button>
    </div>
</div>

<div ng-if="vm.sub_menu.isTabList">
    <div class="w3-bar">
        <button ng-repeat="item in vm.items" style="border-radius: 10px 10px 0 0; margin-left:4px; padding: 4px 24px;" class="w3-border w3-border-mlrngreen w3-bar-item w3-btn"
            ng-class="{'w3-mlrngreen' : vm.tabId===item._id }" ng-click="vm.item = item; vm.tabId = item._id">{{item.title}}</button>
    </div>

    <div ng-if="vm.item" class="" style="border-top:1px solid #558139; margin-top:-1px">

        <p ng-bind-html="vm.item.content" style="font-size: small; margin-top: 0px">
        </p>

        <div class="w3-row">
            <div ng-if="vm.appContext.user.role === 'admin'" class="w3-right">
                <button class="w3-button" ui-sref="board.save( {'articleId':vm.item._id })">Edit</button>
                <button class="w3-button w3-red" ng-click="vm.delete(vm.item)">Delete</button>
            </div>

        </div>
    </div>
</div>

<div ng-if="!vm.sub_menu.isTabList">
    <table class="table table-hover w3-margin-top" ng-if="vm.items.length">
        <tr ng-repeat="item in vm.items" ui-sref="board.view({'articleType': item.articleType, 'articleId':item._id})" style="cursor:pointer">
            <td style="white-space:nowrap; padding-bottom:10px">
                <div>{{item.date | date : "yyyy.MM.dd HH:mm"}}</div>
                <div ng-if="item.images[0].filename"><img class="w3-border w3-padding-small" ng-src="{{vm.appContext.apiUrl + '/files/' + item.images[0].filename}}" alt="" style="max-width:100%;"></div>
                <div ng-if="!item.images[0].filename">
                    <img
                    ng-if="item.files.length>0" 
                    class="w3-border w3-padding-small" ng-src="{{vm.appContext.apiUrl + '/files/' + item.files[0].thumbnail}}" 
                    alt="" style="max-width:100%;">
                </div>
            </td>
            <td style="width:100%">
                <div class="w3-text-gray">{{item.url}}</div>
                <strong class="w3-text-gray">{{item.title}}</strong>
                <!-- <div ng-if="vm.sub_menu.showContentInList">{{item.content}}</div> -->
                <div ng-if="vm.sub_menu.showContentInList" ng-bind-html="item.content" 
                style="height: 4em;line-height: 1em;overflow:hidden; white-space: pre-line; font-size:medium; margin-top: 0px">
                </div>
            </td>
        </tr>
    </table>

    <paging page="vm.pagination.currentPage" paging-action="load(page)" page-size="vm.pagination.itemsPerPage" total="vm.pagination.totalItems"
        show-prev-next="true" show-first-last="true">
    </paging>

    <p ng-if="!vm.items.length" class="w3-padding w3-border">No data.</p>
</div>