<p ng-if="!vm.item" class="w3-border w3-light-gray w3-padding">No data.</p>

<div ng-if="vm.item" ng-bind-html="vm.item.content" style="white-space: pre-line; font-size: small; margin-top: 0px">
</div>

<div class="row bottom-line" ng-if="vm.item.images.length">
    <div class="col-md-2">
        <strong>Images</strong>
    </div>
    <div class="col-md-10">
        <!-- <img ng-src="{{vm.appContext.apiUrl + image.url}}" alt="" ng-repeat="image in vm.item.images" style="width:80%; max-width:80%; height: auto; margin:10px 0px;"> -->
        <img ng-src="{{vm.appContext.apiUrl + image.url}}" alt="" ng-repeat="image in vm.item.images" style="max-width:120px; height: auto; margin:10px 0px;">
        <a ng-href="{{ vm.appContext.apiUrl + image.url }}" target="_blank">Download {{vm.appContext.apiUrl + image.url}}</a>


    </div>
</div>
<div class="row bottom-line" ng-if="vm.item.files.length">
    <div class="col-md-2">
        <strong>Files </strong>
    </div>
    <div class="col-md-10">
        <div ng-repeat="file in vm.item.files"> {{ file.url }} -
            <a ng-href="{{ file.url }}" target="_blank">Download</a>
        </div>
    </div>
</div>



<div ng-if="vm.appContext.user.role === 'admin'" class="text-right w3-border-top w3-padding">
    <button type="button" style="margin-left: 20px;" class="w3-button w3-green" ng-if="!vm.item"
        ui-sref="board.create({'articleType': $stateParams.articleType})">
        New
    </button>
    <!-- <button class="btn btn-default" ng-click="goBack()">Back</button> -->
    <button class="w3-button w3-green" ng-if="vm.item" ui-sref="board.edit( {'articleType':$stateParams.articleType, 'articleId':vm.item._id })">Edit
    </button>
    <button class="w3-button w3-red" ng-if="vm.item" ng-click="vm.delete(vm.item._id)">Delete</button>
</div>