<div class="w3-row w3-border-bottom" ng-if="vm.sub_menu.titleRequired">
    <strong>Title</strong>
    <p>{{vm.item.title}}</p>
</div>

<div class="w3-row w3-border-bottom" ng-if="vm.sub_menu.contentRequired">
    <strong>Content</strong>
    
    <!-- <p ng-if="!vm.sub_menu.htmlEdit">{{vm.item.content}}</p>

    <p ng-if="vm.sub_menu.htmlEdit" ng-bind-html="vm.item.content" style="white-space: pre-line; font-size: small; margin-top: 0px">
    </p> -->

    <p ng-bind-html="vm.item.content" style="white-space: pre-line; font-size: small; margin-top: 0px">
    </p>


</div>

<div class="w3-row w3-border-bottom">
    <strong>Date</strong>
    <p>{{vm.item.date | date : "yyyy.MM.dd HH:mm"}}</p>
</div>

<div class="w3-row w3-border-bottom w3-padding-bottom" ng-if="vm.sub_menu.imageRequired">
    <strong>images</strong>
    <div ng-repeat="image in vm.item.images">
        <img ng-src="{{vm.appContext.apiUrl + image.url}}" alt="" style="height:30px">
        <a ng-href="{{ vm.appContext.apiUrl + image.url }}" target="_blank">Download</a>
    </div>
</div>


<div class="row bottom-line" ng-if="vm.item.files.length">
    <div class="col-md-2">
        <strong>Files </strong>
    </div>
    <div class="col-md-10">
        <div ng-repeat="file in vm.item.files"> {{ file.url }} -
            <a ng-href="{{ vm.appContext.apiUrl + file.url }}" target="_blank">Download</a>
        </div>
    </div>
</div>


<div class="w3-right-align w3-padding">
    <button class="w3-button" ui-sref="board.list()">List</button>
    <button class="w3-button w3-green" ng-if="vm.appContext.user.role === 'admin'" ui-sref="board.save( {'articleType':$stateParams.articleType, 'articleId':$stateParams.articleId })">Edit
    </button>
    <button class="w3-button w3-red" ng-if="vm.appContext.user.role === 'admin'" ng-click="vm.delete()">Delete</button>
</div>

<!-- <div disqus="id"></div> -->

<!-- <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-image">


            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">확인</h4>
            </div>
            <div class="modal-body">
                <h4>삭제하시겠습니까?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.delete()">삭제</button>
            </div>

        </div>
    </div>
</div> -->