<table class="w3-table w3-bordered">
    <tr>
        <th style="width:15%">Title</th>
        <td style="width:85%">{{vm.item.title}}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{vm.item.date | date : "yyyy.MM.dd HH:mm"}}</td>
    </tr>
    <tr>
        <th>Content</th>
        <td>
            <p ng-bind-html="vm.item.content" style="white-space: pre-line; font-size: small; margin-top: 0px">
            </p>
        </td>
    </tr>
    <tr>
        <th>Images</th>
        <td>
            <!-- <div ng-repeat="image in vm.item.images">
                <img ng-src="{{vm.appContext.apiUrl + image.url}}" alt="" style="height:30px">
                <a ng-href="{{ vm.appContext.apiUrl + image.url }}" target="_blank">Download</a>
            </div> -->
            <table class="w3-table w3-bordered">
                <tr ng-repeat="file in vm.item.images">
                    <td style="width:10%">
                        <img ng-src="{{vm.appContext.apiUrl + '/files/' + file.filename}}" alt="" style="max-height:25px;">
                    </td>
                    <td style="width:80%">
                        <a class="w3-padding-small" ng-href="{{ vm.appContext.apiUrl + '/files/' + file.filename }}" target="_blank">
                            {{file.originalname}}
                        </a>
                    </td>
                    <td style="width:10%">
                        <a class="w3-button w3-small w3-padding-small" ng-href="{{ vm.appContext.apiUrl + '/files/' + file.filename }}" download="download">Download
                            <i class="fas fa-download"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>Files</th>
        <td>
            <table class="w3-table w3-bordered">
                <tr ng-repeat="file in vm.item.files">
                    <td style="width:10%">
                        <img ng-if="file.thumbnail" ng-src="{{vm.appContext.apiUrl + '/files/' + file.thumbnail}}" alt="" style="max-height:25px;">
                    </td>
                    <td style="width:80%">
                        <a class="w3-padding-small" ng-href="{{ vm.appContext.apiUrl + '/files/' + file.filename }}" target="_blank">
                            {{file.originalname}}
                        </a>
                    </td>
                    <td style="width:10%">
                        <a class="w3-button w3-small w3-padding-small" ng-href="{{ vm.appContext.apiUrl + '/files/' + file.filename }}"
                            download="download">Download
                            <i class="fas fa-download"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

<div class="w3-right-align w3-padding">
    <button class="w3-button" ui-sref="board.list()">List</button>
    <button class="w3-button" ng-if="vm.appContext.user.role === 'admin'" ui-sref="board.save( {'articleType':$stateParams.articleType, 'articleId':$stateParams.articleId })">Edit
    </button>
    <button class="w3-button w3-red" ng-if="vm.appContext.user.role === 'admin'" ng-click="vm.delete()">Delete</button>
</div>