.w3-mlrngreen,
.w3-hover-mlrngreen:hover {
    color: #fff !important;
    background-color: #558139 !important;
}

.w3-text-mlrngreen {
    color: #558139;
}

/* .w3-text-mlrngreen {
    color: #558139;
} */
.w3-border-mlrngreen,
.w3-hover-border-mlrngreen:hover {
    border-color: #558139 !important;
}

/* .w3-pink,
.w3-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
} */

  .w3-mlrn-bar-item:after {
      content: "|";
      margin: 0 0 0 0px;
      color: #ccc;
      opacity: 0.5;
  }
  
  .w3-mlrn-bar-item-before:before {
      content: "|";
      margin: 0 0 0 0px;
      color: #558139;
      opacity: 0.9;
      padding-right: 10px;
  }
