<div class="container header w3-margin-top">
  <div class="roboto">
    <a href="" ui-sref="home">
      <span class="w3-mlrn-text-green" style="font-size:2em">{{vm.appContext.appTitle}}</span>
    </a>
    <div class="w3-right">
        <a href="" ng-if="!vm.appContext.user && vm.appContext.users.length" ui-sref="signin" class="w3-bar-item w3-padding-left"> Sign-in</a>
        <!-- <a href="" ng-if="vm.appContext.user || !vm.appContext.users.length" ui-sref="signup" class="w3-bar-item w3-padding-left"> Sign-up</a>  -->
        <a href="" ng-if="vm.appContext.user" ng-controller="signin.ctrl as vm" ng-click="vm.logout()" class="w3-bar-item w3-padding-left"> Sign-out</a>
    </div>


  </div>
</div>

<nav class="navbar w3-mlrn-green">
  <div class="container w3-center">

    <div class="w3-bar" style="margin-top:5px;">

      <div class="w3-dropdown-hover w3-mlrn-green w3-mlrn-hover-green" ng-class="{'w3-mlrn-bar-item' : !$last}" ui-sref="{{ menu.list[menu.activeIndex].mode==='board' ? 'board.list({main_menu: menu.name,sub_menu:menu.list[menu.activeIndex].name})'
        : 'board.page({main_menu: menu.name,sub_menu:menu.list[menu.activeIndex].name})' }}" ng-repeat="menu in vm.appContext.menuArray">
        <button class="w3-button w3-mlrn-green w3-mlrn-hover-green"> {{menu.title}} </button>
        <div ng-if="menu.list.length > 0" style="background:transparent; padding-top:10px" class="w3-dropdown-content w3-bar-block w3-card-0">
          <a ng-repeat="item in menu.list" href="" ng-click="$event.stopPropagation()" ui-sref="{{ item.mode==='board' ? 'board.list({main_menu: menu.name,sub_menu:item.name})' : 'board.page({main_menu: menu.name,sub_menu:item.name})'
            }}" class="w3-bar-item w3-button w3-border-bottom w3-border-gray w3-mlrn-green w3-mlrn-hover-green">{{item.title}}</a>
        </div>
      </div>
      <a href="" ui-sref="home" class="w3-bar-item">
        <i class="fas fa-home"></i>
      </a>

    </div>


  </div>
</nav>