<!-- <div class="container header w3-margin-top">
  <div class="roboto">
    <a href="" ui-sref="home">
      <span class="w3-mlrn-text-green" style="font-size:2em">{{vm.appContext.appTitle}}</span>
    </a>
    <div class="w3-right">
      <a href="" ng-if="!vm.appContext.user && vm.appContext.users.length" ui-sref="signin" class="w3-bar-item w3-padding-left">
      Sign-in</a>
      <a href="" ng-if="vm.appContext.user" ng-controller="signin.ctrl as vm" ng-click="vm.logout()" class="w3-bar-item w3-padding-left">
      Sign-out</a>
    </div>


  </div>
</div> -->



<div class="w3-content" style="max-width:990px;margin-top:20px;margin-bottom:0px">
  <div class="w3-row-padding">
  <div class="roboto w3-col m12">
    <a href="" ui-sref="home" style="text-decoration:none">
      <span class="w3-text-mlrngreen" style="font-size:2em">{{vm.appContext.appTitle}}</span>
    </a>
    <div class="w3-right">
      <a href="" ng-if="!vm.appContext.user && vm.appContext.users.length>0" ui-sref="signin" class="w3-bar-item w3-padding-left">
        Sign-in</a>
      <a href="" ng-if="vm.appContext.users.length === 0" ui-sref="signup" class="w3-bar-item w3-padding-left">
        Sign-up</a>
      <a href="" ng-if="vm.appContext.user" ng-controller="signin.ctrl as vm" ng-click="vm.logout()" class="w3-bar-item w3-padding-left">
        Sign-out</a>
    </div>
  </div>
</div>
</div>




<!-- <div class="w3-content" style="max-width:990px;margin-top:20px;margin-bottom:0px">
  <div class="w3-panel">
    <a href="" ui-sref="home" style="text-decoration:none">
      <span class="w3-text-mlrngreen" style="font-size:1.4em;font-weight:400">{{vm.appContext.appTitle}}</span>
    </a>
    <div class="w3-right">
      <a href="" ng-if="!vm.appContext.user && vm.appContext.users.length>0" ui-sref="signin" class="w3-bar-item w3-padding-left">
        Sign-in</a>
      <a href="" ng-if="vm.appContext.users.length === 0" ui-sref="signup" class="w3-bar-item w3-padding-left">
        Sign-up</a>
      <a href="" ng-if="vm.appContext.user" ng-controller="signin.ctrl as vm" ng-click="vm.logout()" class="w3-bar-item w3-padding-left">
        Sign-out</a>
    </div>
  </div>
</div> -->

<!-- <div class="w3-mlrngreen w3-margin-bottom">
  <div class="w3-content" style="max-width:990px;margin-top:0px;margin-bottom:0px">
    <div class="w3-center w3-hide-small">
      <div class="w3-bar w3-row">
        <div class="w3-dropdown-click w3-mlrngreen w3-hover-mlrngreen" ng-class="{'w3-mlrn-bar-item' : !$last}" ng-repeat="menu in vm.appContext.menuArray">
          <button class="w3-button w3-mlrngreen w3-hover-mlrngreen" style="padding:8px 24px" ng-click=" ( vm.activeMenu!=menu.list[menu.activeIndex].name ? vm.activeMenu=menu.list[menu.activeIndex].name : vm.activeMenu='') ; $event.stopPropagation()">
            {{menu.title}} </button>
          <div ng-if="menu.list.length > 0" style="background:transparent; padding-top:10px; z-index:9999" ng-class="{'w3-show': vm.activeMenu===menu.list[menu.activeIndex].name}"
            class="w3-dropdown-content w3-bar-block w3-card-0">
            <a ng-repeat="item in menu.list" href="" ng-click="vm.activeMenu=''; $event.stopPropagation()" ui-sref="{{ item.mode==='board' ? 'board.list({main_menu: menu.name,sub_menu:item.name})' : 'board.page({main_menu: menu.name,sub_menu:item.name})'
                }}" class="w3-bar-item w3-button w3-border-bottom w3-border-gray w3-mlrngreen w3-hover-mlrngreen">{{item.title}}</a>
          </div>
        </div>
        <a href="" ui-sref="home" class="w3-bar-item">
          <i class="fas fa-home"></i>
        </a>
        <a href="" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" ng-click="vm.dropMenu = !vm.dropMenu">&#9776;</a>
      </div>
    </div>
    <div class="w3-bar w3-row w3-hide-large w3-hide-medium">
      <a href="" ui-sref="home" class="w3-bar-item">
        <i class="fas fa-home"></i>
      </a>
      <a href="" class="w3-bar-item w3-button w3-right" ng-click="vm.dropMenu = !vm.dropMenu">&#9776;</a>
    </div>


    <div ng-click="vm.dropMenu = !vm.dropMenu" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium" ng-class="{'w3-show': vm.dropMenu}">
      <div class="w3-dropdown-click w3-mlrngreen w3-hover-mlrngreen" ng-repeat="menu in vm.appContext.menuArray">
        <button ui-sref="{{ menu.list[menu.activeIndex].mode==='board' ? 'board.list({main_menu: menu.name,sub_menu:menu.list[menu.activeIndex].name})':'board.page({main_menu: menu.name, sub_menu:menu.list[menu.activeIndex].name})' }}"
          class="w3-button w3-mlrngreen w3-hover-mlrngreen" ng-click=" ( vm.activeMenu!=menu.list[menu.activeIndex].name ? vm.activeMenu=menu.list[menu.activeIndex].name : vm.activeMenu='')">
          {{menu.title}}
        </button>
      </div>
    </div>
  </div>
</div> -->

<nav class="navbar w3-mlrngreen">
  <div class="container w3-center">

    <div class="w3-bar" style="margin-top:5px;">

      <div class="w3-dropdown-hover w3-mlrngreen w3-hover-mlrngreen" ng-class="{'w3-mlrn-bar-item' : !$last}" ui-sref="{{ menu.list[menu.activeIndex].mode==='board' ? 'board.list({main_menu: menu.name,sub_menu:menu.list[menu.activeIndex].name})'
        : 'board.page({main_menu: menu.name,sub_menu:menu.list[menu.activeIndex].name})' }}" ng-repeat="menu in vm.appContext.menuArray">
        <button class="w3-button w3-mlrngreen w3-hover-mlrngreen"> {{menu.title}} </button>
        <div ng-if="menu.list.length > 0" style="background:transparent; padding-top:10px" class="w3-dropdown-content w3-bar-block w3-card-0">
          <a ng-repeat="item in menu.list" href="" ng-click="$event.stopPropagation()" ui-sref="{{ item.mode==='board' ? 'board.list({main_menu: menu.name,sub_menu:item.name})' : 'board.page({main_menu: menu.name,sub_menu:item.name})'
            }}" class="w3-bar-item w3-button w3-border-bottom w3-border-gray w3-mlrngreen w3-hover-mlrngreen">{{item.title}}</a>
        </div>
      </div>
      <a href="" ui-sref="home" class="w3-bar-item">
        <i class="fas fa-home"></i>
      </a>

    </div>


  </div>
</nav>