<!-- main banner -->
<div style="height: 360px; overflow:hidden" id="bannerCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li class="w3-circle" ng-repeat="slide in vm.slides track by $index" data-target="#bannerCarousel" data-slide-to="{{$index}}"
            ng-class="{active:!$index}"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item" ng-repeat="slide in vm.slides track by $index" ng-class="{active:!$index}">
            <div class="w3-row w3-mlrngreen">
                <div class="w3-col m9">
                    <img ng-src="{{vm.appContext.apiUrl + '/files/' + slide.images[0].filename}}" alt="slide" style="width:100%;">
                </div>
                <div class="w3-col m3 w3-padding-large">
                    <h3>{{slide.title}}</h3>
                </div>
            </div>
        </div>
    </div>

    <a class="left carousel-control" data-target="#bannerCarousel" data-slide="prev" style="cursor:pointer">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#bannerCarousel" data-slide="next" style="cursor:pointer">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!-- contents links -->
<table class="w3-margin-top" style="width:100%">
    <tr ng-repeat="row in vm.contents">
        <td ng-repeat="cell in row" class="w3-border w3-padding" style="width:50%; vertical-align:top">
            <div>
                <div class="w3-right">
                    <a ui-sref="board.list({'main_menu':cell.main_menu, 'sub_menu':cell.sub_menu})">
                        <i class="far fa-plus-square"></i>
                    </a>
                </div>
                <div>
                    <strong>{{cell.header}}</strong>
                </div>
            </div>
            <!-- <div style="height: 2em;line-height: 1em;overflow: hidden;">
                <a href="" ui-sref="board.view({'main_menu':cell.main_menu, 'sub_menu':cell.sub_menu, 'articleId': cell._id})">{{cell.title}}</a>
            </div> -->

            <div ng-repeat="item in cell.list" style="overflow: hidden;">
                <a href="" ui-sref="board.view({'main_menu':cell.main_menu, 'sub_menu':cell.sub_menu, 'articleId': item._id})">{{item.title}}</a>
            </div>

            <!-- {{cell.list}} -->

        </td>
    </tr>
</table>

<!-- menu links -->
<table class="w3-margin-top" style="width:100%">
    <tr>
        <td ng-repeat="item in vm.menus" ui-sref="board.page({main_menu: item.main_menu,sub_menu:item.sub_menu})" 
        class="w3-mlrngreen w3-center" style="padding:10px; cursor:pointer; width:25%;border:2px solid #fff">
            {{item.title}}
        </td>
    </tr>
</table>


<!-- sub banner (related links) -->
<div class="w3-row w3-margin-top">
    <div class="w3-col" style="width:5%">
        <button ng-disabled="true" ng-click="vm.next(-1)" class="w3-button w3-padding-small">&lang;</button>
    </div>
    <div class="w3-col" style="width:90%">
        <div class="w3-row-padding">
            <div ng-repeat="item in vm.links"
             class="w3-col w3-center" style="width:16.6%; height:60px; padding:4px; ">
                <div style="border: 1px solid #ccc">
                    <a ng-href="{{item.url}}" target="_blank">
                        <img class="w3-grayscale-max" ng-src="{{vm.appContext.apiUrl + '/files/' + item.images[0].filename}}" alt="" style="width:100%; max-height:60px; padding: 6px">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="w3-col" style="width:5%">
        <button ng-click="vm.next(-1)" class="w3-button w3-padding-small w3-right">&rang;</button>
    </div>
</div>
