<!-- <div class="w3-row w3-mlrn-green">
    <div class="w3-col m8 l9 w3-white">

        <div style="height: 360px; overflow:hidden" id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                <li class="w3-circle" ng-repeat="slide in vm.slides track by $index" data-target="#myCarousel" data-slide-to="{{$index}}"
                    ng-class="{active:!$index}"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item" ng-repeat="slide in vm.slides track by $index" ng-class="{active:!$index}">
                    <a ui-sref="board.view({main_menu:'news', sub_menu:'mlrn activities', articleId: slide._id})">
                        <img ng-src="{{vm.appContext.apiUrl + slide.images[0].url}}" alt="slide" style="width:100%;">
                    </a>
                </div>
            </div>

            <a class="left carousel-control" data-target="#myCarousel" data-slide="prev" style="cursor:pointer">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#myCarousel" data-slide="next" style="cursor:pointer">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    </div>
    <div class="w3-col m4 l3 w3-padding">
        <p class="" style="font-size: 1.2em;line-height:1.6em"> Expert Group Meeting held in Korea 28-29, November, 2016</p>
    </div>
</div> -->

<div style="height: 360px; overflow:hidden" id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li class="w3-circle" ng-repeat="slide in vm.slides track by $index" data-target="#myCarousel" data-slide-to="{{$index}}"
            ng-class="{active:!$index}"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item" ng-repeat="slide in vm.slides track by $index" ng-class="{active:!$index}">
            <div class="w3-row w3-mlrn-green">
                <div class="w3-col m9 w3-blue">
                    <img ng-src="{{vm.appContext.apiUrl + slide.images[0].url}}" alt="slide" style="width:100%;">
                </div>
                <div class="w3-col m3 w3-padding-large">
                    {{slide.title}}
                </div>
            </div>
        </div>
    </div>
        
    <a class="left carousel-control" data-target="#myCarousel" data-slide="prev" style="cursor:pointer">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" data-slide="next" style="cursor:pointer">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<div class="" ng-if="true">

    <div class="">
        <div>

        </div>
    </div>

</div>

<table class="w3-margin-top" style="width:100%">
    <tr>
        <td class="w3-border w3-padding" style="width:50%; vertical-align:top">
            <div>
                <div class="w3-right">
                    <a ui-sref="board.list({'main_menu':'resources', 'sub_menu':'reports'})">
                        <i class="far fa-plus-square"></i>
                    </a>
                </div>
                <div>
                    <strong>REPORTS</strong>
                </div>
            </div>
            <div style="height: 2em;line-height: 1em;overflow: hidden;">
                <a href="" ui-sref="board.view({'main_menu':'resources', 'sub_menu':'reports', 'articleId': vm.report._id})">{{vm.report.title}}</a>
            </div>
        </td>
        <td class="w3-border w3-padding" style="width:50%; vertical-align:top">
            <div>
                <div class="w3-right">
                    <a ui-sref="board.list({'main_menu':'news', 'sub_menu':'notice'})">
                        <i class="far fa-plus-square"></i>
                    </a>
                </div>
                <div>
                    <strong>NOTICE</strong>
                </div>
            </div>
            <div style="height: 2em;line-height: 1em;overflow: hidden;">
                <a href="" ui-sref="board.view({'main_menu':'news', 'sub_menu':'notice', 'articleId': vm.notice._id})">{{vm.notice.title}}</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="w3-border w3-padding" style="width:50%; vertical-align:top">
            <div>
                <div class="w3-right">
                    <a ui-sref="board.list({'main_menu':'mlr_info', 'sub_menu':'issue_brief'})">
                        <i class="far fa-plus-square"></i>
                    </a>
                </div>
                <div>
                    <strong>ISSUE BRIEF</strong>
                </div>
            </div>
            <div style="height: 2em;line-height: 1em;overflow: hidden;">
                <a href="" ui-sref="board.view({'main_menu':'mlr_info', 'sub_menu':'issue_brief', 'articleId': vm.issue_brief._id})">{{vm.issue_brief.title}}</a>
            </div>
        </td>
        <td class="w3-border w3-padding" style="width:50%; vertical-align:top">
            <div>
                <div class="w3-right">
                    <a ui-sref="board.list({'main_menu':'news', 'sub_menu':'activities'})">
                        <i class="far fa-plus-square"></i>
                    </a>
                </div>
                <div>
                    <strong>MLRN ACTIVITIES</strong>
                </div>
            </div>
            <div style="height: 2em;line-height: 1em;overflow: hidden;">
                <a href="" ui-sref="board.view({'main_menu':'news', 'sub_menu':'activities', 'articleId': vm.activity._id})">{{vm.activity.title}}</a>
            </div>
        </td>
    </tr>
</table>

<table class="w3-margin-top" style="width:100%">
    <tr>
        <td ui-sref="board.page({main_menu: 'about',sub_menu:'mlrn'})" class="w3-mlrn-green w3-center" style="padding:4px; cursor:pointer; width:25%;border:2px solid #fff">
            MLRN?
        </td>
        <td ui-sref="board.page({main_menu: 'mlr_info',sub_menu:'mlr_info'})" class="w3-mlrn-green w3-center" style="padding:4px; cursor:pointer; width:25%;border:2px solid #fff">
            Challenges
        </td>
        <td ui-sref="board.page({main_menu: 'focus',sub_menu:'wfe_nexus'})" class="w3-mlrn-green w3-center" style="padding:4px; cursor:pointer; width:25%;border:2px solid #fff">
            WFE Nexus
        </td>
        <td ui-sref="board.page({main_menu: 'network',sub_menu:'join_us'})" class="w3-mlrn-green w3-center" style="padding:4px; cursor:pointer; width:25%;border:2px solid #fff">
            Join Us
        </td>
    </tr>
</table>

<div class='row' style="margin-top: 10px; margin-bottom: 10px">
    <div class='col-md-12'>
        <div class="link-wrapper">
            <a class="site-link" href="" target="_blank" bs-tooltip data-toggle="tooltip" data-placement="top"
                title="DAK">
                <img class="logo" src="images/logo/dak.png" alt="">
            </a>
            <a class="site-link" href="" target="_blank" bs-tooltip data-toggle="tooltip" data-placement="top"
                title="EDCF">
                <img class="logo" src="images/logo/edcf.png" alt="">
            </a>
            <a class="site-link" href="" target="_blank" bs-tooltip data-toggle="tooltip" data-placement="top"
                title="National index">
                <img class="logo" src="images/logo/naraindex.png" alt="">
            </a>
            <a class="site-link" href="" target="_blank" bs-tooltip data-toggle="tooltip" data-placement="top"
                title="IBRD-IDA">
                <img class="logo" src="images/logo/worldbank.png" alt="">
            </a>
            <a class="site-link" href="" target="_blank" bs-tooltip data-toggle="tooltip" data-placement="top"
                title="USAID">
                <img class="logo" src="images/logo/usaid.png" alt="">
            </a>
        </div>
    </div>
</div>
